.contacts {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts--back {
  background-color: #f2f2f2;
}

.contacts__address {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 56px 70px 61px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    padding: 55px 77px 58px 80px;
    min-width: 565px;
    background-color: $white;
  }
}

.contacts__title {
  margin: 0;
  width: 139px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 4px;
    max-width: 180px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 4px;
  }
}

.contacts__text {
  margin: 0;
  width: 139px;

  @media (min-width: $tablet-width) {
    width: 160px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__text--address {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 20px;
  }
}

.contacts__map {
  iframe {
    display: block;
    border: none;
    width: 100%;

    @media (min-width: $tablet-width) {
      height: 400px;
    }
  }
}
