.diet {
  margin-bottom: 10px;
}

.diet__list {
  display: grid;
  row-gap: 20px;
}

.diet__item {
  padding: 21px 33px 18px 20px;
  background-color: #f2f2f2;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 24px;
    left: 22px;
    background-color: $green;
  }
}

.diet__title {
  margin: 9px 9px 29px 71px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.diet__text {
  margin-bottom: 38px;
}

.diet__link {
  display: block;
  padding: 4px 0;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}
