.example {
  padding: 25px 20px 40px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    padding: 43px 30px 55px;
    border-top: 1px solid #e6e6e6;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 462px;
      right: 0;
      background-color: $white;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 65px;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
  }
}

.example__container {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 85px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-top: 43px;
  }
}

.example__slider {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.example__list {
  margin: 0 0 34px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;

  @media (min-width: $tablet-width) {
    margin: 0;
    gap: 42px;
    max-width: 366px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 59px;
  }
}

.example__item {
  position: relative;
  padding: 13.5px 0 16.5px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  &::before {
    position: absolute;
    content: "";
    height: 31px;
    top: 47px;
    left: 15%;
    right: 15%;
    background-color: #eaeaea;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 162px;
    padding: 14px 0 19px;
  }
}

.example__title {
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    margin: 0 0 64px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 146px;
  }
}

.example__text {
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 0 53px;
    padding-right: 15px;
  }

  @media (min-width: $desktop-width) {
    max-width: 436px;
    margin: 0 0 69px;
    padding: 0;
  }
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 162px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #444444;
  position: absolute;
  top: 45px;
  left: 20%;
  right: 20%;

  @media (min-width: $tablet-width) {
    width: 114px;
    font-size: 14px;
    line-height: 14px;
    background-color: $white;
    top: 62px;
    left: 24px;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.example__item:last-child .example__description {
  @media (min-width: $tablet-width) {
    width: 142px;
    left: 10px;
  }
}

.example__text-recap {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    max-width: 174px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    position: absolute;
    bottom: 11px;
    right: 1px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    position: static;
    min-width: 350px;
    text-align: left;
  }
}

.example__text-recap--price {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    margin: 0 0 0 59px;
  }
}
