.filter__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter__container {
  display: grid;
  row-gap: 24px;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    row-gap: 73px;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.filter__user-data-list {
  display: grid;
  row-gap: 14px;

  @media (min-width: $tablet-width) {
    row-gap: 20px;
  }
}

.filter__user-data-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;

  @media (min-width: $tablet-width) {
    gap: 19px;
    padding-left: 2px;
  }
}

.filter__user-data-label {
  @include label();
  color: #444444;
  display: flex;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.filter__user-data-input {
  padding: 12.5px 10px 12.5px 16px;
  border: 1px solid #e7e7e7;

  @include input;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 1px solid #444444;
    box-shadow: inset 0 0 0 1px #444444;
    outline: none;
  }

  &--error {//класс ошибки назначается для обязательных полей формы, помеченных *//
    border: 1px solid #ff8282;
    box-shadow: inset 0 0 0 1px #ff8282;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 18px;
  }
}

.filter__program-diet {
  padding-top: 22px;
  padding-bottom: 19px;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 1px;
    top: -1px;
    left: -20px;
    right: -20px;
    background-color: #d9d9d9;
  }

  &::after {
    top: auto;
    bottom: -1px;
  }

  @media (min-width: $tablet-width) {
    padding: 25px 29px 23px;
    border: 1px solid #e7e7e7;

    &::before,
    &::after {
      display: none;
    }
  }
}

.filter__program-diet-list {
  display: grid;
  row-gap: 12.5px;

  @media (min-width: $tablet-width) {
    row-gap: 13px;
  }
}

.filter__program-diet-item {
  margin: 0;
  padding: 3px 0;
  padding-left: 46px;
  min-height: 30px;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 40px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 7px 0 3px 60px;
  }
}

.filter__program-diet-label {
  @include label();
  color: #222222;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    top: 0;
    left: 0;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.filter__program-diet-input {
  &:checked + .filter__program-diet-label::after {
    position: absolute;
    content: "";
    width: 13.5px;
    height: 13.55px;
    top: 8.23px;
    left: 8.3px;
    background-color: $green;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
      top: 11px;
      left: 11px;
    }
  }

  &:hover + .filter__program-diet-label::before {
    border: 1px solid #bababa;
  }

  &:focus + .filter__program-diet-label::before {
    box-shadow: 0 0 0 1px #bababa;
  }

  &:disabled + .filter__program-diet-label,
  &:disabled:checked + .filter__program-diet-label {
    opacity: 0.3;
  }
}

.filter__user-contacts {
  margin-bottom: 23.6px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.filter__user-contacts-title {
  padding: 0;
  margin-bottom: 35px;

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    top: 16px;
    left: 201px;
    right: -20px;
    background-color: $green;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;

    &::before {
      position: absolute;
      content: "";
      width: 31px;
      height: 2px;
      top: 22px;
      left: -70px;
      background-color: $green;
    }

    &::after {
      top: 22px;
      left: 553px;
      right: -70px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 70px;
      left: -110px;
    }

    &::after {
      right: -110px;
    }
  }
}

.filter__user-contacts-list {
  display: grid;
  row-gap: 14px;

  @media (min-width: $tablet-width) {
    row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 78px;
  }
}

.filter__user-contacts-item {
  position: relative;
}

.filter__user-contacts-label {
  @include label();

  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;

  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.filter__user-contacts-label-icon-email {
  position: absolute;
  top: 16.8px;
  right: 16px;

  @media (min-width: $tablet-width) {
    top: 18px;
  }
}

.filter__user-contacts-label-icon-tel {
  position: absolute;
  top: 13px;
  right: 13px;

  @media (min-width: $tablet-width) {
    top: 16px;
  }
}

.filter__user-contacts-input[type="email"] {
  margin-left: 13px;
  padding: 11.5px 37px 13.5px 14px;
  border: 1px solid #e7e7e7;//сменила цвет границы на тот, что указан в стайлгайде//

  @include input();

  &:focus ~ .filter__user-contacts-label-icon-email {
    stroke: $green;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-left: 22px;
    padding: 10px 40px 10px 20px;
  }
}

.filter__user-contacts-input[type="tel"] {
  margin-left: 10px;
  padding: 11.5px 36px 13.5px 16px;
  border: 1px solid #e7e7e7;//сменила цвет границы на тот, что указан в стайлгайде//

  @include input();

  &:focus ~ .filter__user-contacts-label-icon-tel {
    fill: $green;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-left: 17px;
    padding: 10px 35px 10px 19px;
  }
}

.filter__user-contacts-input {
  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 1px solid #444444;
    box-shadow: inset 0 0 0 1px #444444;
    outline: none;
  }

  &--error {//класс ошибки назначается для обязательных полей формы, помеченных *//
    border: 1px solid #ff8282;
    box-shadow: inset 0 0 0 1px #ff8282;
  }
}

.filter__user-contacts-input--error[type="tel"] ~ .filter__user-contacts-label-icon-tel {//класс ошибки назначается для обязательных полей формы, помеченных *//
  fill: #ff8282;
}

.filter__user-contacts-input--error[type="email"] ~ .filter__user-contacts-label-icon-email {//класс ошибки назначается для обязательных полей формы, помеченных *//
  stroke: #ff8282;
}

.filter__comment {
  margin-bottom: 17.8px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 62px;
  }
}

.filter__comment-title {
  margin-bottom: 37.7px;
  padding: 0;

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    top: 16px;
    left: 143px;
    right: -20px;
    background-color: $green;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;

    &::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 2px;
      top: 22px;
      left: -70px;
      background-color: $green;
    }

    &::after {
      top: 22px;
      left: 219px;
      right: -70px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 70px;
      left: -110px;
    }

    &::after {
      right: -110px;
    }
  }
}

.filter__comment-text {
  padding: 9px 12px 14px 14px;
  width: 100%;
  resize: none;
  border: 1px solid #e7e7e7;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 1px solid #444444;
    box-shadow: inset 0 0 0 1px #444444;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    height: 174px;
    padding-left: 19px;
  }

  @media (min-width: $desktop-width) {
    padding: 9px 12px 14px 19px;
  }
}

.filter__other-products {
  margin-bottom: 35px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
  }
}

.filter__other-products-title {
  margin-bottom: 34px;
  padding: 0;

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    top: 16px;
    left: 164px;
    right: -20px;
    background-color: $green;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;

    &::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 2px;
      top: 22px;
      left: -70px;
      background-color: $green;
    }

    &::after {
      top: 22px;
      left: 252px;
      right: -70px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 70px;
      left: -110px;
    }

    &::after {
      right: -110px;
    }
  }
}

.filter__other-products-list {
  display: grid;
  row-gap: 12px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 32px 61px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 81px;
  }
}

.filter__other-products-item {
  padding: 3px 6px 3px 46px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 5px 6px 5px 59px;
  }
}

.filter__other-products-label {
  @include label;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: 1px solid #cdcdcd;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.filter__other-products-input {
  &:checked + .filter__other-products-label::after {
    position: absolute;
    content: "";
    width: 18px;
    height: 14px;
    top: 8px;
    left: 6.3px;
    background-image: url("../img/background/icon-tick.svg");

    @media (min-width: $tablet-width) {
      width: 24px;
      height: 18.7px;
      top: 11px;
      left: 8px;
      background-image: url("../img/background/icon-tick-large.svg");
    }
  }

  &:hover + .filter__other-products-label::before {
    border: 1px solid #bababa;
  }

  &:focus + .filter__other-products-label::before {
    box-shadow: 0 0 0 1px #bababa;
  }

  &:disabled + .filter__other-products-label,
  &:disabled:checked + .filter__other-products-label {
    opacity: 0.3;
  }
}

.filter__button {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.filter__text {
  margin: 0;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-self: flex-start;
    align-self: center;
  }
}

.filter__box {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 61px;
  }

  @media (min-width: $desktop-width) {
    gap: 81px;
  }
}
