.main-nav {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.main-nav__toggle {
  width: 24px;
  height: 24px;
  background-image: url("../../img/background/icon-open.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position-y: 4px;
  border: none;
  cursor: pointer;
}

.main-nav__list {
  position: absolute;
  min-width: 320px;
  top: 64px;
  left: 0;
  z-index: 1;
  background-color: $white;
  display: none;
}

.main-nav__link {
  display: block;
  padding: 22px 22px 24px;
}

.main-nav.active .main-nav__list {
  display: block;
}

.main-nav.active .main-nav__toggle {
  background-image: url("../../img/background/icon-close.svg");
}
