.page-footer {
  margin-top: auto;
}

.page-footer__wrapper {
  padding: 39px 20px 32px 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 58px 30px 55px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 110px 58px;
  }
}

.page-footer__wrapper--form {
  @media (min-width: $tablet-width) {
    padding: 57px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 110px 58px;
  }
}

.page-footer__wrapper--catalog {
  @media (min-width: $tablet-width) {
    padding: 57px 30px 59px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 110px 58px;
  }
}

.page-footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, 23px);
  gap: 34px;
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 16px;
    grid-template-columns: 30px 23px 15px;
    gap: 27px;
  }
}

.page-footer__social-item {
  display: flex;
  align-items: center;
}

.page-footer__social-link-icon {
  &:hover {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }

  &--facebook:hover {
    fill: none;
    stroke: $green;

    @media (min-width: $tablet-width) {
      width: 15px;
      height: 29px;
    }
  }

  &--vk {
    @media (min-width: $tablet-width) {
      width: 30px;
      height: 22px;
    }
  }

  &--instagram {
    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }
}

.page-footer__logo {
  margin-bottom: 52px;
  width: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: auto;
  }

  &:hover[href] {
    opacity: 0.8;
  }

  &:active[href] {
    opacity: 0.6;
  }

  &::after {
    position: absolute;
    content: "";
    top: 55px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.page-footer__htmlacademy-link {
  display: block;
  width: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 163px;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover .page-footer__htmlacademy-link-icon {
    fill: $green;
  }

  &::after {
    position: absolute;
    content: "";
    top: -28px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.page-footer__htmlacademy-link-icon {
  position: absolute;
  top: -6px;
  right: 0;
}
