.page-footer {
  margin-top: auto;
}

.page-footer__wrapper {
  padding: 39px 20px 22px 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

.page-footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, 23px);
  gap: 30.5px;
  margin-bottom: 43px;
}

.page-footer__logo {
  margin-bottom: 52px;
}

.page-footer__htmlacademy-link {
  display: block;
  width: 100%;
  position: relative;
}

.page-footer__htmlacademy-link-icon {
  position: absolute;
  top: -8px;
  right: 0;
}
