.page-body {
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
  }
}
// класс для реализации работы меню без использования js
.page-body--no-js {
  .page-header__container {
    flex-direction: column;
  }

  .page-header--container {
    flex-direction: column;
  }

  .main-nav {
    padding-top: 10px;
  }

  .main-nav__list {
    position: static;
    min-width: 280px;
    background-color: $white;
    z-index: 0;
    display: block;
  }

  .main-nav__toggle {
    position: absolute;
    top: 15px;
    right: 18px;
    background-image: url("../img/background/icon-close.svg");
  }
}
