.page-footer {
  margin-top: auto;
}

.page-footer__wrapper {
  padding: 39px 20px 32px 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 60px 30px 58px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 110px 58px;
  }
}

.page-footer__wrapper--form {
  @media (min-width: $tablet-width) {
    padding: 57px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 110px 58px;
  }
}

.page-footer__wrapper--catalog {
  @media (min-width: $tablet-width) {
    padding: 57px 30px 59px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 110px 58px;
  }
}

.page-footer__wrapper-list {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 22px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0;
    border: none;
  }
}

.page-footer__social-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 23px);
  gap: 30px;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 16px;
    grid-template-columns: 30px 23px 15px;
    gap: 27px;
  }
}

.page-footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: auto;
    height: auto;
  }

  &:hover .page-footer__social-link-icon {
    fill: $green;
  }

  &:hover .page-footer__social-link-icon--facebook {
    fill: none;
    stroke: $green;
  }

  &:active .page-footer__social-link-icon {
    opacity: 0.3;
  }
}

.page-footer__social-link-icon {
  &--facebook {
    @media (min-width: $tablet-width) {
      width: 15px;
      height: 29px;
    }
  }

  &--vk {
    @media (min-width: $tablet-width) {
      width: 30px;
      height: 22px;
    }
  }

  &--instagram {
    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }
}

.page-footer__logo {
  margin-bottom: 31px;
  width: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: auto;
  }

  &:hover[href] {
    opacity: 0.8;
  }

  &:active[href] {
    opacity: 0.6;
  }
}

.page-footer__htmlacademy-link {
  display: block;
  width: 100%;
  margin-top: 28px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 163px;
    margin-top: 0;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover .page-footer__htmlacademy-link-icon {
    fill: $green;
  }
}

.page-footer__htmlacademy-link-icon {
  position: absolute;
  top: -6px;
  right: 0;
}
