.product__list {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 1px;
    top: 0;
    left: -20px;
    right: -20px;
    background-color: #ebebeb;
  }

  @media (min-width: $tablet-width) {
    padding-top: 141px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 141px 60px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 143px 80px;
  }
}

.product__item {
  padding: 19px 0 25px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 1px;
    bottom: 0;
    left: -20px;
    right: -20px;
    background-color: #ebebeb;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    min-height: 430px;
    padding: 161px 37px 39px 39px;
    position: relative;

    &:last-child {
      align-items: center;
      padding: 161px 38px 38px;
      background-color: transparent;
      border: 2px solid #f2f2f2;
    }

    &::before {
      display: none;
    }
  }
}

.product__item--more {
  padding-top: 78px;
}

.product__item-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
  }
}

.product__link-img {
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: calc(50% - 81px);
    bottom: 303px;
    width: 162px;
    height: 173px;
  }

  @media (min-width: $desktop-width) {
    bottom: 310px;
  }
}

.product__item:nth-child(2n) .product__link-img {
  margin-top: auto;

  @media (min-width: $tablet-width) {
    left: calc(50% - 84px);
    width: 168px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    bottom: 314px;
    width: 172px;
    height: 198px;
  }
}

.product__image {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.product__description {
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

.product__link {
  display: block;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    align-self: center;
  }
}

.product__title {
  margin: 0;
  width: 100px;

  @media (min-width: $tablet-width) {
    text-align: center;
    width: 145px;
  }
}

.product__table-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 8px 0 7px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.product__table-criterion,
.product__table-description {
  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.product__button {
  @media (min-width: $tablet-width) {
    margin-top: auto;
  }
}
