.promo {
  position: relative;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.promo__description {
  padding: 27px 20px 135px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/background/cat-promo.jpg"), linear-gradient(#4f4f53, #403f43);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;

  @media (min-width: $tablet-width) {
    padding: 0;
    background-image: none;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-top: 82px;
  }
}

.promo__title {
  margin: 0 0 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.promo__text {
  margin: 0 0 29px;
  font-size: 14px;
  line-height: 14px;
  color: $white;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__link {
  position: absolute;
  width: auto;
  right: 20px;
  bottom: 10px;
  left: 20px;

  @media (min-width: $tablet-width) {
    position: static;
    width: 244px;
  }
}

.promo__container {
  margin-top: -135px;
  padding-bottom: 43px;

  @media (min-width: $tablet-width) {
    margin-top: -83px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    width: 552px;
    height: 499px;
  }
}
