.slider__button {
  width: 49px;
  margin: 0 13px;
  padding: 5px 0;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin: 0 23px;
    font-size: 20px;
    line-height: 30px;
    text-decoration: underline dotted rgba(0, 0, 0, 0.24) 1px;
    text-underline-offset: 6px;

    &:hover {
      text-decoration: underline solid rgba(0, 0, 0, 0.4) 1px;
    }

    &:active {
      text-decoration: none;
    }
  }
}
