.text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.text--size {
  font-size: 12px;
  line-height: 16px;
}

.text--height {
  line-height: 20px;
}

.text--text-logo-size {
  font-size: 16px;
  line-height: 18.4px;
}

.text--up {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.text--note {
  line-height: 16px;
  color: #000000;
}

.text--area {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}
