.text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.text--size {
  font-size: 12px;
  line-height: 16px;
}

.text--height {
  line-height: 20px;
}

.text--text-logo-size {
  font-size: 16px;
  line-height: 18px;
}

.text--up {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.text--note {
  line-height: 16px;
  color: #000000;
}

.text--area {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.text--color {
  @media (min-width: $tablet-width) {
    color: #000000;
  }
}
