.title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.title--color {
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: #000000;
    text-align: left;
  }
}

.title--height {
  line-height: 40px;

  @media (min-width: $tablet-width) {
    line-height: 60px;
  }
}

.title--subtitle {
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.title--subtitle-color {
  font-size: 16px;
  line-height: 20px;
  color: #111111;

  @media (min-width: $tablet-width) {
    width: 134px;
    font-size: 20px;
    line-height: 22px;
  }
}

.title--subtitle-height {
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.title--size {
  font-size: 16px;
  line-height: 20px;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.title--title-size {
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.title--form-size {
  font-size: 24px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}
